.additional-product {
  padding: 13px 0 19px;
}

@media (min-width: $tablet-width) {
  .additional-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-right: 80px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-product__title {
  font-family: $custom-font;
  color: $special-dark-grey-2;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}

.additional-product__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.additional-product__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

@media (min-width: $tablet-width) {
  .additional-product__button {
    grid-column: 1/4;
  }
}

@media (min-width: $desktop-width) {
  .additional-product__button {
    grid-column: 4;
  }
}
