.additional-products {
  padding-top: 25px;
  padding-bottom: 19px;
}

.additional-products__title {
  font-family: $custom-font;
  font-weight: normal;
  font-size: 24px;
  color: $basic-black;
}

@media (min-width: $desktop-width) {
  .additional-products__flex-block {
    display: grid;
    grid-template-columns: 1fr 245px;
  }
}
