.additional-products__title {
  font-family: $custom-font;
  font-weight: normal;
  font-size: 24px;
  color: $basic-black;
  margin: 0 0 80px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    margin-bottom: 76px;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    margin-bottom: 89px;
  }

  .additional-products__flex-block {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr 245px;
  }

  .additional-products__title {
    margin-bottom: 86px;
  }

  .additional-products__list {
    margin-bottom: 0;
  }

  .additional-products__item {
    align-items: center;
  }
}
