.catalog {
  padding-top: 27px;
}

.catalog__title {
  font-family: $custom-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 0 19px;
  padding-bottom: 41px;
  border-bottom: 1px solid $extra-grey;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 64px;
    margin-bottom: 68px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 82px;
    border-bottom: none;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 68px;
    margin-bottom: 45px;
  }

  .catalog__title {
    padding-bottom: 84px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}
