.contacts {
  padding-top: 26px;
  padding-bottom: 26px;
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    height: 198px;
    z-index: 10;
    background: $basic-white;
    padding: 0;
  }
}

.contacts__title {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $special-dark;
  min-width: 50%;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  line-height: 20px;
  margin: 0;
  min-width: 50%;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    text-align: left;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    align-items: center;
    padding: 56px 80px;
  }
}
