.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: $desktop-width;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;

    &--form {
      padding: 0 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 30px;

    &--form {
      padding: 0 30px;
    }
  }
}
