.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: $desktop-width;
}

@media (max-width: $tablet-width) {
  .container--opened {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}
