.example {
  background-color: $special-grey;
  padding-top: 25px;
  padding-bottom: 40px;
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .example__stats {
    max-width: 432px;
  }
}

.example__number {
  font-family: $custom-font;
  font-size: 24px;
  color: $basic-black;
  text-transform: uppercase;
}

.example__info {
  font-size: 12px;
  color: $special-dark-grey;
}

.example__text {
  font-family: $custom-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;
}

.example__slider {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__block {
    display: flex;
    justify-content: space-between;
  }
}
