.food-work {
  padding-top: 22px;
  padding-bottom: 50px;
}

.food-work__title {
  margin-bottom: 42px;
}

.food-work__item {
  margin-left: 80px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 27px;
  }

  &::before {
    content: "";
    position: absolute;
    color: $basic-white;
    width: 60px;
    height: 60px;
    left: -80px;
    top: -2px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf {
    &::before {
      background-image: url("../img/icon_leaf.svg");
    }
  }

  &--tub {
    &::before {
      background-image: url("../img/icon_tub.svg");
    }
  }

  &--eat {
    &::before {
      background-image: url("../img/icon_eat.svg");
    }
  }

  &--alarm {
    &::before {
      background-image: url("../img/icon_alarm.svg");
    }
  }
}

.food-work__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .food-work {
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .food-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .food-work__item {
    padding-top: 143px;
    padding-bottom: 15px;
    text-align: left;
    margin-left: 0;

    &::before {
      width: 80px;
      height: 80px;
      line-height: 100px;
      left: 0;
      top: 30px;
      background-color: $basic-green;
    }

    &::after {
      content: "";
      position: absolute;
      font-family: $custom-font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey-2;
      top: 0;
      right: 0;
      left: 115px;
      z-index: -1;
    }

    &--leaf {
      &::after {
        content: "1";
      }
    }

    &--tub {
      &::after {
        content: "2";
      }
    }

    &--eat {
      &::after {
        content: "3";
      }
    }

    &--alarm {
      &::after {
        content: "4";
      }
    }
  }

  .food-work__description {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .food-work__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }

  .food-work {
    padding-top: 71px;
    padding-bottom: 17px;
  }
}
