.food-work {
  padding-top: 20px;
  padding-bottom: 49px;
}

.food-work__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.food-work__item {
  margin-left: 80px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    color: $basic-white;
    width: 60px;
    height: 60px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    left: -80px;
    background-color: $basic-green;
  }

  &--leaf {
    &::before {
      content: url('../img/icons/icon_leaf.svg');
    }
  }

  &--tub {
    &::before {
      content: url('../img/icons/icon_tub.svg');
    }
  }

  &--eat {
    &::before {
      content: url('../img/icons/icon_eat.svg');
    }
  }

  &--alarm {
    &::before {
      content: url('../img/icons/icon_alarm.svg');
    }
  }
}

.food-work__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .food-work {
    padding-top: 45px;
    padding-bottom: 32px;
  }

  .food-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 137px;
    grid-row-gap: 37px;
  }

  .food-work__item {
    padding-top: 151px;
    padding-bottom: 30px;
    text-align: left;
    margin-left: 0;

    &::before {
      width: 80px;
      height: 80px;
      line-height: 100px;
      left: 0;
      top: 30px;
      background-color: $basic-green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 0px;
      left: 120px;
      height: 230px;
      z-index: -1;
    }

    &--leaf {
      &::after {
        content: url('../img/1.png');
      }
    }

    &--tub {
      &::after {
        content: url('../img/2.png');
      }
    }

    &--eat {
      &::after {
        content: url('../img/3.png');
      }
    }

    &--alarm {
      &::after {
        content: url('../img/4.png');
      }
    }
  }

  .food-work__description {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .food-work__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }

  .food-work {
    padding-top: 71px;
    padding-bottom: 26px;
  }
}
