.food-work {
  padding-top: 20px;
  padding-bottom: 49px;
}

.food-work__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .food-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 137px;
    grid-row-gap: 37px;
  }
}

@media (min-width: $desktop-width) {
  .food-work__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }
}

.food-work__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.food-work__description {
  margin: 0;
}
