.input-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;

  &--email {
    fill: none;
  }
}
