.page-header {
  padding-top: 10px;
  padding-bottom: 0;
}

.page-header__logo {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 18px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-img {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__logo-img {
    display: none;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    margin: auto;

    &--inner {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 54px;

    &--index {
      padding-top: 53px;
      justify-content: space-between;

      &::before {
        content: "";
        width: 50%;
        height: 694px;
        background-image: url("../img/promo-desktop.png"), linear-gradient(to right, $extra-green 0%, $extra-green 100%);
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        right: 0;
        top: 0;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/promo-desktop@2x.png"), linear-gradient(to right, $extra-green 0%, $extra-green 100%);
          background-size: cover;
        }
      }
    }
  }

  .page-header__logo {
    text-align: left;
    padding-top: 0;
  }
}
