.page-form {
  padding-top: 27px;
  padding-bottom: 32px;
  font-family: $custom-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-form__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 37px;
  text-transform: none;
}

.page-form__description {
  color: $basic-black;
  font-size: 14px;
  margin: 0;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .page-form {
    font-size: 20px;
    line-height: 30px;
  }

  .page-form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .page-form__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    padding-top: 65px;
    padding-bottom: 85px;
  }
}
