.page-header {
  padding-top: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  &--inner {
    border-bottom: 1px solid $basic-grey;
  }
}

.page-header__logo-img {
  padding-top: 10px;
}

.page-header__logo {
  display: block;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-img {
    display: none;
  }

  .page-header__logo {
    padding-top: 5px;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;

    &--inner {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header--index {
    padding-top: 53px;

    &::before {
      content: "";
      width: 50%;
      height: 694px;
      background-image:
        url("../img/promo-desktop.png"),
        linear-gradient(to right, $extra-green 0%, $extra-green 100%);
      background-repeat: no-repeat;
      background-position: right;
      position: absolute;
      right: 0;
      top: 0;

      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/promo-desktop@2x.png"),
          linear-gradient(to right, $extra-green 0%, $extra-green 100%);
        background-size: cover;
      }
    }
  }

  .page-header__logo {
    width: 50%;
    text-align: left;
    padding-top: 0;
  }
}
