.product {
  margin-bottom: 19px;

  &:last-child {
    text-align: center;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .product {
    margin-bottom: 0;
    text-align: center;
    padding: 0 39px 39px;
  }
}

.product__title {
  font-family: $custom-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

@media (min-width: $tablet-width) {
  .product__title br {
    display: none;
  }
}

.product__list {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

@media (min-width: $tablet-width) {
  .product__item {
    display: flex;
    justify-content: space-between;
  }
}
