.product {
  margin-bottom: 19px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 13px;
  border-bottom: 1px solid $extra-grey;
  position: relative;

  &--all {
    display: block;
    padding-top: 78px;
    text-align: center;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      font-size: 30px;
      background-image: url("../img/icons/plus.svg");
      width: 30px;
      height: 30px;
      top: 25px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.product__image {
  text-align: center;
}

.product__title {
  font-family: $custom-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 0;
}

.product__title br:nth-child(2) {
  display: none;
}

.product__title--all br {
  display: none;
}

.product__list {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin: 0;
}

.product__item {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.product__text {
  margin-bottom: 21px;
}

.product__button {
  grid-column: 1/-1;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .product {
    margin-bottom: 0;
    text-align: center;
    padding: 8px 36px 39px;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    border-bottom: none;
    background: linear-gradient(to bottom, $basic-white 0%, $basic-white 81px, $basic-grey-2 81px);

    &--all {
      align-self: end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background: $basic-white;
      border: 2px solid $basic-grey-2;
      text-align: center;
      margin-bottom: 0;
      min-height: 431px;

      &::before {
        background-image: url("../img/icons/plus.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60px;
        width: 60px;
        height: 60px;
        top: 51px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }

  .product__image {
    display: flex;
    min-height: 196px;
    justify-content: center;
    margin-bottom: 34px;
  }

  .product__title br:nth-child(2) {
    display: block;
  }

  .product__title br:first-child {
    display: none;
  }

  .product__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;

    &--all {
      line-height: 22px;
      margin-bottom: 23px;
    }
  }

  .product__text {
    font-size: 16px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 87px;
  }

  .product__list {
    font-size: 16px;
    margin-bottom: 33px;
  }

  .product__item {
    border-bottom: 1px solid $special-grey-3;
    padding: 7px 0 9px;

    &:first-child {
      padding-top: 0;
    }
  }

  .product__button {
    width: 100%;
  }
}
