.programs {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .programs {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
  }
}
