.program {
  background-color: $basic-grey-2;
  padding: 30px 33px 18px 20px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--slimming {
    &::before {
      content: url("../img/cat_slimming.png");
      position: absolute;
      top: 20px;
      width: 50px;
      height: 53px;
    }
  }

  &--weight {
    &::before {
      content: url("../img/cat_weight.png");
      position: absolute;
      top: 20px;
      width: 67px;
      height: 50px;
    }
  }
}

.program__title {
  font-family: $custom-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 87px;
}

.program__description {
  margin: 0;
  margin-bottom: 15px;
  color: $special-dark-grey;
  padding-bottom: 23px;
  border-bottom: 1px solid $basic-grey;
}

.program__link {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 32px;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
  }
}

@media (min-width: $tablet-width) {
  .program {
    padding: 77px 62px 53px 53px;

    &--slimming {
      &::before {
        content: url("../img/cat_slimming_tablet.png");
        top: 81px;
        right: 62px;
        width: 200px;
        height: 211px;
      }
    }

    &--weight {
      &::before {
        content: url("../img/cat_weight_tablet.png");
        top: 91px;
        right: 28px;
        width: 268px;
        height: 200px;
      }
    }
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-left: 0;
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    margin-bottom: 48px;
    padding-bottom: 0;
    color: $special-dark-grey;
    border-bottom: none;
  }

  .program__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 77px 52px 55px 51px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      left: 52px;
      width: 100px;
    }

    &--slimming {
      &::before {
        content: url("../img/cat_slimming_desktop.png");
        top: 41px;
        height: 108px;
      }
    }

    &--weight {
      &::before {
        content: url("../img/cat_weight_desktop.png");
        top: 47px;
        height: 108px;
      }
    }
  }

  .program__title {
    padding-left: 214px;
    margin-bottom: 73px;
  }

  .program__description {
    max-width: 467px;
    margin-right: 0;
    margin-bottom: 23px;
  }
}
