.promotion__wrapper {
  background-image:
    linear-gradient(to right, rgba($basic-green, 0.85) 0%, rgba($basic-green, 0.85) 100%),
    url("../img/promotion-cat.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 43px;
  margin: 0;
}

.promotion__title {
  color: $basic-white;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
