.promotion {
  background-image:
    linear-gradient(to right, rgba($basik-green, 0.85) 0%, rgba($basik-green, 0.85) 100%),
    url("../img/promotion-cat.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 20px 43px;
  margin: 35px 20px;
}

.promotion__title {
  color: $basik-white;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
