.promo {
  background-image:
    url("../img/promo-mobile.png"),
    linear-gradient(to bottom, $special-green 0%, $special-green 302px, $basic-white 302px);
  background-repeat: no-repeat;
  background-position: top;
  font-family: $custom-font;
  color: $basic-white;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/promo-mobile@2x.png"),
      linear-gradient(to bottom, $special-green 0%, $special-green 302px, $basic-white 302px);
    background-size: auto 302px;
  }
}

.promo__slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.promo__text {
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
  margin-bottom: 29px;
}

.promo__image {
  width: 100%;
}

.promo__button {
  padding: 10px 20px;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    color: $basic-black;
    text-align: left;
    padding-left: 119px;
    padding-top: 55px;
    padding-bottom: 526px;
    position: relative;
  }

  .promo__slogan {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 36px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 47px;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 30px;
    max-width: calc(100% - 60px);
    height: 609px;
    z-index: -1;
  }

  .promo__image img {
    width: 100%;// TODO посмотри здесь ширину
    height: 100%;
    object-fit: contain;
  }

  .promo__button {
    max-width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 23px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 0 0 202px 110px;
    margin: 0 auto 65px;
  }

  .promo__slogan {
    margin-top: 105px;
    margin-bottom: 37px;
  }

  .promo__text {
    margin-bottom: 48px;
  }

  .promo__image {
    width: 552px; // TODO посмотри здесь ширину без стр. 30 не работает
    height: 499px;
    z-index: 0;
    top: -85px;
    left: 37%;
    margin: 0 auto;
  }
}
