// Colors

$basik-white: #ffffff;
$basik-black: #000000;
$basik-grey: #d9d9d9;
$basik-green: #68b738;
$basik-grey-2: #f2f2f2;
$special-grey: #eaeaea;
$special-grey-2: #e7e7e7;
$special-dark-grey: #444444;
$special-dark: #111111;
$special-dark-grey-2: #222222;

// Font

$default-font: "Arial", sans-serif;
$custom-font: "Oswald", "Arial", sans-serif;
