// Colors

$base-light-color: #ffffff;
$base-dark-color: #000000;
$base-grey: #d9d9d9;
$bg-color: rgba(104, 183, 56, 0.85);
$extra-light-color: #f2f2f2;
$special-dark-grey: #444444;
$special-light-grey: #eaeaea;
$special-dark: #111111;
